<div id="body2">

<h1 class="aboutitle">MUSIC DB &hearts;</h1>
<div class="wrapper">

<p>Welcome to our small time-wasting internet experience where you can find all the illegal music you do <strong>NOT</strong> feel like buying yourself.</p>

</div>	</div>