<link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/application.css">

<div class="enter"><img src="../assets/dance.jpg">
</div>

<div class="container-fluid mission">
 <div class="row"></div>
      <a name="mission"></a>
        <h3>  Here at Good Coffee Co we are passionate about serving the best coffee you'll ever taste. </br> Our staff are self-described coffee-nerds with impeccable technique.<br> Stop by today and experience the Good Coffee difference. </h3>
 </div>

 <div class="container features">
   <div class="row">
        <div class="col-xs-12 col-sm-4">
          <a href="#"><img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/3/3f/Coffee_Beans.jpg"></img></a>
          <p> The freshest locally sourced coffee. Organic and Fair Trade certified</p> 
        </div>
        
        <div class="col-xs-12 col-sm-4">
          <a href="#"><img class="img-responsive" src="http://pixabay.com/static/uploads/photo/2014/07/15/13/36/coffee-shop-393954_640.jpg"></img></a>
          <p> A perfect environment to meet with a friend or be alone and get work done.</p>
        </div>