<head>
  
  <link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/static_pages.scss">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>


<div class="enter">

<h1 class="welcome_text">MUSIC DB &hearts;</h1>

</div>

<div class="welcome">
  <p>Ready for a whole <strong>NEW</strong> experience?</p>
</div>

<div class="explain"> 
  <img class="animation" src="http://upload.wikimedia.org/wikipedia/en/0/00/Fall_Out_Boy_-_From_Under_the_Cork_Tree_-_CD_album_cover.jpg">
  <img class="animation" src="http://www.designbolts.com/wp-content/uploads/2013/11/Bright-Like-Neon-Love-album-covers.jpg">
  <img class="animation" src="http://www.hwdyk.com/q/quizimage/albumcovertrivia.jpg">
  <img class="animation" src="https://dangerouslee.files.wordpress.com/2013/12/dangerous-album-cover.jpg">
  <img class="animation" src="http://media.creativebloq.futurecdn.net/sites/creativebloq.com/files/images/2014/02/coldplay1.jpg">
  <img class="animation" src="http://www.dailyseni.com/images/Katy-Perry-one-of-the-boys.jpg">

</div>

