<div id="body2">
<div class="wrapper">

<div class="welcometext"><h1>Welcome to MusicDB &hearts;</h1> get started</h2>
</div>
<center>
<%= link_to "Get Started!", songs_path, class: 'btn btn-lg btn-success' %>
</center>
</div>
</div>