// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.first_div {
	background-image: url('http://n2.hk/attachments/day_120307/20120307_0385fa3e442028b02952kXx1KqLqZUsP.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	padding-bottom: 20px;
}

#artistdiv {
	background-color: #fff;
	margin: auto;
	width: 420px;
	border-radius: 25px;
	padding: 10px;
	margin-bottom: 20px;

}